.about-container {
	@extend .other-container;	

	.morph-elements {
		max-width: 60%;
	}
}
.about-inner {
	@extend .other-container-inner;
	
	.title {
		font-size: 5rem;
		line-height: 1.1;
		font-weight: 900;
		letter-spacing: 6px;
		padding-top: 30px;
		margin-bottom: 60px;
		width: 55%;
		padding-right: 30px;

		@media (max-width: 1560px) {
			font-size: 4rem;
		}
		@media (max-width: 1330px) {
			padding-top: 0;
			width: 75%;
		}
		@media (max-width: 1070px) {
			width: 100%;
		}
		@media (max-width: $small-mobile-break-point) {
			font-size: 3rem;
			margin-bottom: 35px;
		}
		@media (max-width: 460px) {
			font-size: 2rem;
		}
		@media (max-width: 325px) {
			font-size: 1.9rem;
		}

		// FadeRight
		@extend %transition-faderight-setup;
		transition-delay: 0.5s;
		.is-about-page & {
			@extend %transition-faderight-active;
		}
	}
	.image {
		position: absolute;
		top: 0;
		right: $page-gutter-with-element;
		width: 100%;
		max-width: calc( (100% - #{$page-gutter-with-element * 2}) * 0.45);
		border-radius: 4px;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.16);

		@media (max-width: 1330px) {
			position: static;
			margin-left: $inner-padding-left;
			max-width: calc( (100% - #{$inner-padding-left + $inner-padding-right}) * 0.75);
			margin-bottom: 30px;
		}
		@media (max-width: 1070px) {
			max-width: calc(100% - #{$inner-padding-left + $inner-padding-right});
		}
		@media (max-width: $mobile-break-point) {
			max-width: calc(100% - #{$inner-padding-left-mobile + $inner-padding-right-mobile});
			margin-left: $inner-padding-left-mobile;
		}

		// FadeLeft
		@extend %transition-fadeleft-setup;
		transition-delay: 0.7s;
		.is-about-page & {
			@extend %transition-fadeleft-active;
		}
	}
	.content-title {
		font-size: 3rem;
		line-height: 1;
		font-weight: 900;
		letter-spacing: 4.2px;
		margin-bottom: 30px;
		transition: font-size 0.3s;

		@media (max-width: 1330px) {
			font-size: 2.5rem;
		}
		@media (max-width: $small-mobile-break-point) {
			font-size: 2rem;
		}
		@media (max-width: 460px) {
			font-size: 1.5rem;
		}
	}
	.content-subtitle {
		font-size: 1.25rem;
		line-height: 1.2;
		font-weight: normal;
		
	}
	.overview {
		padding-right: 30px;
		width: calc( ( (100% + #{ $inner-padding-left + $inner-padding-right }) * 0.55 ) - #{ $inner-padding-left} );
		max-width: 550px;
		margin-bottom: 90px;

		@media (max-width: 1330px) {
			width: 100%;
			max-width: none;
			padding-right: 0;
		}

		// FadeRight
		@extend %transition-faderight-setup;
		transition-delay: 0.6s;
		.is-about-page & {
			@extend %transition-faderight-active;
		}
	}
	.column-row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -50px;
		margin-right: -50px;

		@media (max-width: 1200px) {
			margin-left: 0;
			margin-right: 0;
		}
	}	
	.column-left {
		width: 55%;

		// FadeUp
		@extend %transition-fadeup-setup;
		transition-delay: 0.8s;
		.is-about-page & {
			@extend %transition-fadeup-active;
		}
	}
	.column-right {
		width: 45%;

		// FadeUp
		@extend %transition-fadeup-setup;
		transition-delay: 0.9s;
		.is-about-page & {
			@extend %transition-fadeup-active;
		}
	}
	.column-left,
	.column-right {
		padding-left: 50px;
		padding-right: 50px;
		@media (max-width: 1200px) {
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
	}
	.box-shadow {
		background-color: #fff;
		padding: 40px;
		border-radius: 4px;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.16);

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.about-inner-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-left: $inner-padding-left;
	padding-right: $inner-padding-right;
	transition: padding-left 0.3s, padding-right 0.3s;

	@media (max-width: $mobile-break-point) {
		padding-left: $inner-padding-left-mobile;
		padding-right: $inner-padding-right-mobile;
	}
}

.skill-lists {
	@extend .ul-pretty;
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;

	li {
		display: block;
		width: 25%;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 30px;
		transition: width 0.3s;

		@media (max-width: 1330px) and (min-width: 1201px) {
			width: 33.3333333%;
		}
		@media (max-width: 500px) {
			width: 33.3333333%;
		}
	}
	.skill-image {
		width: 100%;
		position: relative;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0 0 15px 0 rgba(0,0,0,0.16);

		&::before {
			content: "";
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			max-width: 100%;
			max-height: 100%;
			padding: 15px;
		}
	}
	.skill-name {
		margin-top: 20px;
		margin-bottom: 0;
		text-align: center;
	}
}