.portfolio-list-page {
	padding-top: $page-gutter + 20;
	padding-bottom: $page-gutter + 20;
	position: relative;

	&::before,
	&::after {
		position: absolute;
		left: 0;
		z-index: 2;
		content: "";
		display: block;
		width: 100%;
		height: 90px;
	}
}

.portfolio-lists {
	width: 100%;
	height: 100%;
	z-index: 2;

	// ShowUp
	@extend %transition-fadeup-setup;
	transition-delay: 0.5s;
	.is-portfolios-page & {
		@extend %transition-fadeup-active;
	}
}
.portfolio-list {
	width: 100%;
	height: auto;
	padding-left: $page-gutter-with-element;
	padding-right: $page-gutter-with-element;
	text-align: center;

	h2 {
		font-size: 4rem;
		font-weight: 900;
		letter-spacing: 6px;
		line-height: 1;
		padding-bottom: 50px;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.5s;

		&:hover {
			color: $color-blue;
			letter-spacing: 10px;
			filter: blur(4px);
			opacity: 0.5;
		}

		@media (max-width: $mobile-break-point) {
			font-size: 3.5rem;
		}
		@media (max-width: $small-mobile-break-point) {
			font-size: 3rem;
		}
	}
	&:first-child h2 {
		padding-top: 30px;
	}
	// &:last-child h2 {
	// 	padding-bottom: 70px;
	// }

	@media (max-width: $mobile-break-point) {
		padding-left: $page-gutter-with-element-mobile;
		padding-right: $page-gutter-with-element-mobile;
	}
	@media (max-width: $small-mobile-break-point) {
		padding-left: $page-gutter-with-element-small-mobile;
		padding-right: $page-gutter-with-element-small-mobile;
	}
}

.portfolio-list-arrow-up,
.portfolio-list-arrow-down {
	position: absolute;
	left: 50%;
	width: 60px;
	height: 48px;
	padding: 15px;
	margin-left: -24px;
	z-index: 3;
	cursor: pointer;

	&.disabled {		
		cursor: not-allowed;
	}

	// ShowUp
	@extend %transition-setup;
	transition-delay: 1s;
	.is-portfolios-page & {
		@extend %transition-active;
	}
	.is-portfolios-page &.disabled {
		opacity: 0.2;
	}
}
.portfolio-list-arrow-up {
	top: 35px;
}
.portfolio-list-arrow-down {
	bottom: 35px;
}

.portfolio-container {
	@extend .other-container;	

	@media (max-width: $mobile-break-point) {
		padding-left: 0;
		padding-right: 0;
	}
	@media (max-width: $small-mobile-break-point) {
		padding-left: 0;
		padding-right: 0;
	}

	.close-button {
		// ShowUp
		@extend %transition-setup;
		transition-delay: 0.4s;
		.is-portfolio-page & {
			@extend %transition-active;
		}
	}
}
.portfolio-details {
	@extend .other-container-inner;
	margin-top: 150px;
	text-align: center;
	transition: all 0.3s;

	@media (max-width: $mobile-break-point) {
		padding-left: $page-gutter-mobile;
		padding-right: $page-gutter-mobile;
		margin-bottom: 50px;
		margin-top: 135px;
	}
	@media (max-width: $small-mobile-break-point) {
		padding-left: $page-gutter-small-mobile;
		padding-right: $page-gutter-small-mobile;		
	}

	.title {
		font-size: 5rem;
		line-height: 1.2;
		font-weight: 900;
		letter-spacing: 6px;
		margin-bottom: 35px;
		text-transform: uppercase;

		@media (max-width: 1560px) {
			font-size: 4rem;
		}
		@media (max-width: $mobile-break-point) {
			font-size: 3.5rem;
			margin-bottom: 20px;
		}
		@media (max-width: $small-mobile-break-point) {
			font-size: 3rem;
		}

		// FadeUp
		@extend %transition-fadeup-setup;
		transition-delay: 0.5s;
		.is-portfolio-page & {
			@extend %transition-fadeup-active;
		}
	}
	.categorise {
		@extend .ul-pretty;
		@extend %font-sarabun;
		margin-bottom: 30px;

		@media (max-width: $mobile-break-point) {
			margin-bottom: 15px;
		}

		// FadeUp
		@extend %transition-fadeup-setup;
		transition-delay: 0.6s;
		.is-portfolio-page & {
			@extend %transition-fadeup-active;
		}
	}
	.categorise li {
		display: inline-block;
		font-size: 1.2rem;
		color: $color-blue;
		margin-left: 10px;

		&::after {
			content: "|";
			margin-left: 10px;
		}
		&:last-child::after {
			display: none;
			margin-right: 10px;
		}
	}
	.description {
		@extend %font-sarabun;
		max-width: 520px;
		font-size: 1.2rem;
		margin-left: auto;
		margin-right: auto;

		@media (max-width: $mobile-break-point) {
			font-size: 1rem;
		}

		p {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.label {
			margin-right: 10px;
		}
		a {
			@extend .link-green;
		}
		.wrapper {
			text-align: center;
		}
		.wrapper > p {
			display: inline-block;

			&::after {
				content: "|";
				margin-left: 15px;
				margin-right: 10px;
			}
			&:last-child::after {
				display: none;
			}
		}

		// FadeUp
		@extend %transition-fadeup-setup;
		transition-delay: 0.7s;
		.is-portfolio-page & {
			@extend %transition-fadeup-active;
		}
	}
}
.portfolio-slide {
	margin-bottom: 130px;

	.swiper-slide {
		@media (min-width: #{$small-mobile-break-point - 1}) {
			filter: blur(6px);
		}
		width: 1200px;
		max-width: calc(100% - #{$page-gutter-with-element * 2} + 55px );
		padding-left: 27.5px;
		padding-right: 27.5px;
		text-align: center;
		transition: all 0.5s;

		@media (max-width: $mobile-break-point) {
			max-width: 75%;
		}
		@media (max-width: $small-mobile-break-point) {
			max-width: 100%;
			padding-left: $page-gutter-small-mobile;
			padding-right: $page-gutter-small-mobile;
		}

		> div > *,
		> img {
			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
			margin-top: 6px;
		}
		img {
			width: auto;
			max-width: 100%;
		}
	}
	.swiper-slide.swiper-slide-active {
		@media (min-width: #{$small-mobile-break-point - 1}) {
			filter: blur(0);
		}
	}

	// FadeUp
	@extend %transition-fadeup-setup;
	transition-delay: 0.8s;
	.is-portfolio-page & {
		@extend %transition-fadeup-active;
	}
}